* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1200px;
}

h1 {
    text-align: center;
    margin: 30px;
}

.columns {
    display: flex;

    &>* {
        padding: 0 20px 20px;
    }
}

form {
    text-align: start;
}

.fields {
    &>div {
        display: flex;
        margin-bottom: max(20px, 2vh);
        flex-direction: column;
        align-items: start;
    }


    & label {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 0.1rem;
    }

    & input {
        height: 2rem;
        width: 300px;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;
        border: 1px solid #c6c7c7;
        border-radius: 5px;
        outline: none;
    }

    #read {
        width: 24px;
    }
}

button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
}


#book-list {
    flex: 1;

    & button {
        padding: 10px 30px;
    }
}

.book {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    padding: 15px 10px;
    border-bottom: 1px dotted #596D48;
    
    &:hover {
        background-color: #bcc4b5;
    }
    
    .book-info {
        flex: 1;
        justify-self: flex-start;
    }
}
